/* Satoshi Fonts */
@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../../public/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../../public/fonts/Satoshi-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
