.menu-icon {
  position: fixed;
  top: 2.8rem;
  right: 5rem;
  width: 100px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1001; 
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.menu-icon.visible {
  opacity: 1;
}

.menu-line {
  display: block;
  width: 100%;
  height: 6px;
  background-color: #ffffff;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.menu-line.top {
  width: 100%;
  align-self: flex-end;
}

.menu-line.middle {
  width: 50%;
  align-self: flex-end;
}

.menu-line.bottom {
  width: 75%;
  align-self: flex-end;
}

/* Hover effect */
.menu-icon:hover .menu-line {
  background-color: #cecece;
}

.menu-icon:hover .menu-line.top {
  transform: translateX(5px);
}

.menu-icon:hover .menu-line.middle {
  transform: scaleX(0.8);
}

.menu-icon:hover .menu-line.bottom {
  transform: translateX(5px);
}

/* Menu open state - transform to X */
.menu-icon.menu-open .menu-line.top {
  transform: rotate(45deg) translate(6px, 6px);
  width: 100%;
}

.menu-icon.menu-open .menu-line.middle {
  opacity: 0;
  transform: scaleX(0);
}

.menu-icon.menu-open .menu-line.bottom {
  transform: rotate(-45deg) translate(6px, -6px);
  width: 100%;
}

/* Hover effect when menu is open */
.menu-icon.menu-open:hover .menu-line {
  background-color: #cecece;
}

.menu-icon.menu-open:hover .menu-line.top {
  transform: rotate(45deg) translate(6px, 6px) scale(1.1);
}

.menu-icon.menu-open:hover .menu-line.middle {
  opacity: 0;
  transform: scaleX(0);
}

.menu-icon.menu-open:hover .menu-line.bottom {
  transform: rotate(-45deg) translate(6px, -6px) scale(1.1);
}

/* Responsive design */
@media (max-width: 1366px) and (min-width: 1261px) {
  .menu-icon {
    top: 3rem;
    right: 3rem;
    width: 90px;
    height: 36px;
  }
  
  .menu-line {
    height: 5px;
  }
}

@media (max-width: 1260px) and (min-width: 1025px) {
  .menu-icon {
    top: 3.5rem;
    right: 1.2rem;
    width: 85px;
    height: 34px;
  }
  
  .menu-line {
    height: 5px;
  }
}

@media (max-width: 1024px) {
  .menu-icon {
    top: 3rem;
    right: 1.2rem;
    width: 80px;
    height: 32px;
  }
  
  .menu-line {
    height: 5px;
  }
}

@media (max-width: 768px) {
  .menu-icon {
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 26px;
  }
  
  .menu-line {
    height: 4px;
  }
  
  .menu-icon.menu-open .menu-line.top {
    transform: rotate(45deg) translate(5px, 5px);
  }
  
  .menu-icon.menu-open .menu-line.middle {
    opacity: 0;
    transform: scaleX(0);
  }
  
  .menu-icon.menu-open .menu-line.bottom {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}

@media (max-width: 480px) {
  .menu-icon {
    top: 2.2rem;
    right: 2.5rem;
    width: 50px;
    height: 24px;
  }
  
  .menu-line {
    height: 3px;
  }
  
  .menu-icon.menu-open .menu-line.top {
    transform: rotate(45deg) translate(4px, 4px);
  }
  
  .menu-icon.menu-open .menu-line.middle {
    opacity: 0;
    transform: scaleX(0);
  }
  
  .menu-icon.menu-open .menu-line.bottom {
    transform: rotate(-45deg) translate(4px, -4px);
  }
}