* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: fixed;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  overscroll-behavior: none;
  /* GPU acceleration for body */
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  height: 100dvh; 
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  will-change: transform;
}

/* GPU-accelerated cursor styles */
.cursor-pointer {
  cursor: pointer;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.cursor-grab {
  cursor: grab;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.cursor-grabbing {
  cursor: grabbing;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

canvas {
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  perspective: 1000px;
  -webkit-perspective: 1000px;
}